<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}zh-CN{{ end }}">
    <meta charset="utf-8">
    {{- partial "seo_schema" . -}}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="noise-filter"></div>
        <div class="noise-main">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "js.html" . -}}
    </body>
</html>