<div class="noise-left">
    <img class="logo" src="{{.Site.Params.ogImage}}">
    <!-- 时间代码-->
    <div class="left-div left-time">
        <ul id="line1">
            <div id="lbl"></div>
            <div id="clock"></div>
        </ul>
    </div>
    <!-- 时间结束-->
    <!-- 随机一言代码-->
    <div class="left-div left-time">
        <ul id="line1">
            <div class="container">
                <span id="hitokoto">正在获取中...</span>
            </div>
            <script src="https://v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>
        </ul>
    </div>
    <!-- 随机一言结束-->
</div>
